*{
    margin: 10;
    padding: 10;
}
.bodyContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.playerCharacterView{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 10px;
    border: 3px solid black;
    background-color: burlywood;
}
.nameBox2{
    min-height: 20%;
    margin: 10px;
    padding: 10%;
    border: 3px solid black;
}
.playerImage{
    min-height: 20%;
    margin: 10px;
    padding: 10%;
    border: 3px solid black;
    background: url('space_hero.gif');
}
.playerStats{
    min-height: 50%;
    margin: 10px;
    padding: 10%;
    border: 3px solid black;
}
.enemyCharacterView{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: auto;
    margin: 10px;
    border: 3px solid black;
    background-color: rgb(126, 126, 174);
}
.nameBox1{
    min-height: 20px;
    margin: 10px;
    padding: 10%;
    border: 3px solid black;
}
.enemyImage{
    min-height: 100px;
    margin: 10px;
    padding: 10%;
    border: 3px solid black;
    background: url('enemy.gif');
}
.enemyStats{
    min-height: 20px;
    margin: 10px;
    padding: 10%;
    border: 3px solid black;
}

.start{
    background-color: green;
}

    
